<html>
    <title>Agenda de serviços</title>
    <body>
        <div>
            <h1>Master Frio</h1>
            <h3>Agendar novo serviço</h3>
        </div>
        <br>

        <div>
            <tbody class="forms">
                
                <input type="text" id="endereco" placeholder="Endereço">
                <label class="obrigatorio">*</label>
                
                <br>
                <br>
                
                <input type="text" id="numero" placeholder="Número">
                <label class="obrigatorio">*</label>
                
                <br>
                <br>

                <input type="tel" id="telefone" placeholder="Número de Telefone - 1" >
                <input type="tel" id="telefone2" placeholder="Número de Telefone - 2">
                
                <br>
                <br>

                <select id="servicos">
                    <option>Instalação - Split</option>
                    <option>Instalação - Ar de janela</option>
                    <option>Manutenção - Carga de gás</option>
                    <option>Manutenção - Higienização</option>
                    <option>Manutenção - Aparelho defeituoso</option>
                    <option>Manutenção - Vazamento de água</option>
                    <option>Manutenção - Outro</option>
                </select>
                <label class="obrigatorio">*</label>
                <br>
                <br>
                
                <input type="datetime-local" id="data" placeholder="">
                <br>
                <br>
                
                <input type="number" id="valor" placeholder="R$ - Valor">
                <input type="number" id="desconto" placeholder="R$ - Desconto">
                <label class="obrigatorio">*</label>
                <br>
                <br>
                
                <input type="text" id="observacao" placeholder="Observações">
                <br>
                <br>
                <input type="button" value="Agendar" onclick="agendar()">
            </tbody>
            
        </div>
    </body>

</html>