<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
  <link rel="icon" type="image/x-icon" href="/src/fav-icon">
  <title>Master Frio</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="	background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.8));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
    <div class="container"> <a class="navbar-brand" href="http://www.localhost">
        <i class="fa d-inline fa-lg fa-circle-o"></i>
        <b> Master Frio</b>
      </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar11" style="">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar11">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"> <a class="nav-link" href="http://www.localhost">Menu</a> </li>
          <li class="nav-item"> <a class="nav-link" href="http://www.localhost/agenda">Consultar Agenda</a> </li>
          <li class="nav-item"> <a class="nav-link" href="http://www.localhost/clientes">Consultar Cliente</a> </li>
          <li class="nav-item"> <a class="nav-link" href="http://www.localhost/agendar-servico">Agendar Serviço</a> </li>
          <li class="nav-item"> <a class="nav-link" href="http://www.localhost/cadastrar-cliente">Cadastrar Cliente</a> </li>
          <li class="nav-item"> <a class="nav-link" href="http://www.localhost/historico">Histórico</a> </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="py-5 text-center">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6"><img class="img-fluid d-block rounded-circle" src="/src/masterfrio"></div>
        <div class="mx-auto col-lg-6 col-10">
          <h1>Agendar novo serviço</h1>

          <!-- form -->
          <tbody class="forms">
          <form class="text-left" action="/servicos-lista" method="post">
            <div class="form-group"> <label for="id_cliente">Id</label> <input id="id_cliente" name="id_cliente" type="number" class="form-control" placeholder="Ex: 1" required="required"> </div>
            <div class="form-group"> <label for="endereco">Endereço</label> <input id="endereco" name="endereco" type="text" class="form-control" placeholder="Ex: R. São Paulo" required="required"> </div>
            <div class="form-row">
              <div class="form-group col-md-6"> <label for="bairro">Bairro</label> <input id="bairro" name="bairro" type="text" class="form-control" required="required"> </div>
              <div class="form-group col-md-6"> <label for="numero">Número</label> <input id="numero" name="numero" type="text" class="form-control" required="required"> </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6"> <label for="telefone">Telefone de contato</label> <input id="telefone" name="telefone" type="text" class="form-control" required="required"> </div>
              <div class="form-group col-md-6"> <label for="telefone2">Telefone alternativo</label> <input id="telefone2" name="telefone2" type="text" placeholder="Desativado" class="form-control" disabled> </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6"> <label for="servico">Categoria</label>
                <select id="servicos" name="servicos" class="form-control" aria-label="Default select example" required="required">
                  <option selected="">Escolha uma categoria</option>
                  <option>Instalação - Split</option>
                  <option>Instalação - Ar de janela</option>
                  <option>Manutenção - Carga de gás</option>
                  <option>Manutenção - Higienização</option>
                  <option>Manutenção - Aparelho defeituoso</option>
                  <option>Manutenção - Vazamento de água</option>
                  <option>Manutenção - Outro</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6"> <label for="valor">Valor</label> <input id="valor" name="valor" type="number" class="form-control" required="required"> </div>
              <div class="form-group col-md-6"> <label for="desconto">Desconto</label> <input id="desconto" name="desconto" type="number" class="form-control"> </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12"> <label for="data">Data</label> <input id="data" name="data" type="datetime-local" class="form-control" required="required"> </div>
            </div>
            <div class="form-group"> <label for="observacao">Observação</label> <input id="observacao" name="observacao" type="text" class="form-control form-control-lg h-25"> </div>
            <button type="submit" class="btn btn-primary">Agendar</button>
          </form>
        </tbody>
        
      </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 20px;right:20px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:220px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;<img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16"></pingendo>
</body>

</html>